body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h2 {
  font-weight: 100;
  font-size: 16px;
}

/* HEADER */

header {
  height: 63px;
}

.title__shrikhand {
  font-family: "Shrikhand", cursive;
}

header h1 {
  text-align: center;
}

/* MAIN : SECTION - SEARCH */

.search {
  background-color: #eaeaea;
  height: 48px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 10px -6px #cfcfcf inset;
}

form {
  display: flex;

  align-items: center;
}

.search input[type="text"] {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 130px;
}

.search input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
}

/* MAIN : SECTION - INTRO*/

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}

.intro h1,
h2 {
  text-align: center;
}

.btn {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 55px;
  padding: 20px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 35px;
  background: rgb(255, 121, 218);
  background: linear-gradient(
    170deg,
    rgba(255, 121, 218, 1) 21%,
    rgba(147, 86, 220, 1) 100%
  );
}

/* MAIN : SECTION - HOW-TO*/

.how-to {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.how-to article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin: 20px 10px 0 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 5px 12px 1px hsl(0deg 1% 26% / 13%);
}
