body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* HEADER */

header {
  height: 63px;
}

.title__shrikhand {
  font-family: "Shrikhand", cursive;
}

header h1 {
  text-align: center;
}

/* MAIN : SECTION - SEARCH */

.search {
  background-color: #eaeaea;
  height: 48px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 10px -6px #cfcfcf inset;
}

form {
  display: flex;

  align-items: center;
}

.search input[type="text"] {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 130px;
}

.search input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
}
