.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fade-out {
  to {
    transform: scale(0);
  }
}
@keyframes fade-out {
  to {
    transform: scale(0);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body {
  font-family: "Roboto", sans serif;
  margin: 0;
}

h1,
h2 {
  margin: 0;
  padding: 15px 0px;
}

p {
  font-weight: 300;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

button a {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search {
  background-color: #eaeaea;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 3px -7px #cfcfcf inset;
}

.search input[type=text] {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 130px;
}

.search input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
}

.search input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
}

.search input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
}

.search input:focus {
  outline: none;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .arrow {
  position: absolute;
  left: 20px;
  font-size: 25px;
}

.logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 0;
}
.logo--footer {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 25px;
  margin-left: 20px;
  color: white;
  letter-spacing: 1px;
}
.logo--restaurant {
  font-family: "Shrikhand", cursive;
  margin-top: 10px;
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 0;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .arrow {
  position: absolute;
  left: 20px;
  font-size: 25px;
}

.logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 0;
}
.logo--footer {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 25px;
  margin-left: 20px;
  color: white;
  letter-spacing: 1px;
}
.logo--restaurant {
  font-family: "Shrikhand", cursive;
  margin-top: 10px;
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 0;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

footer {
  background-color: #353535;
  padding-top: 15px;
  padding-bottom: 30px;
}

footer ul {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

footer ul li {
  padding-bottom: 5px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 16px;
}

footer ul a {
  text-decoration: none;
  color: white;
}

footer ul i {
  margin-right: 10px;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  font-weight: 100;
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 0;
  margin-top: 40px;
  margin-left: 18px;
  border-bottom: 2px solid #99e2d0;
  border-bottom-width: medium;
  width: 45px;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  to {
    transform: scale(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 2;
  opacity: 0.9;
  -webkit-animation: fade-out 1s ease-out 1s forwards;
          animation: fade-out 1s ease-out 1s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #99e2d0;
  margin-right: 40px;
  -webkit-animation: bounce 0.4s linear infinite alternate;
          animation: bounce 0.4s linear infinite alternate;
}
.loader .dot:nth-child(2) {
  background-color: #ff79da;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loader .dot:nth-child(3) {
  background-color: #9356dc;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  background-color: #f7f7f7;
  text-align: center;
}
.intro p {
  margin-bottom: 20px;
}
.intro .btn {
  margin: 20px 0 50px 0;
  padding: 15px 20px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.3px;
  border: 0;
  border-radius: 35px;
  background: linear-gradient(176deg, rgb(255, 121, 218) 21%, rgb(147, 86, 220) 100%);
  box-shadow: 0px 4px 5px 1px #cfcfcf;
  cursor: pointer;
}
.intro .btn:hover {
  background: linear-gradient(176deg, rgba(252, 126, 218, 0.96) 0%, rgba(161, 102, 231, 0.96) 100%);
}
.intro .btn:hover {
  box-shadow: 0px 4px 3px 1px rgba(94, 90, 90, 0.5607843137);
  transition: all 0.4s ease-in-out;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tuto {
  margin: 15px;
  padding-bottom: 30px;
}
@media (min-width: 481px) {
  .tuto {
    margin-bottom: 0;
  }
}
.tuto__choices {
  display: grid;
  grid-template-rows: 1fr;
}
@media (min-width: 925px) {
  .tuto__choices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.tuto article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  gap: 25px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 11px 5px hsla(0deg, 1%, 26%, 0.13);
  background-color: #f7f7f7;
}
.tuto article:hover {
  background-color: rgba(255, 121, 218, 0.1);
}
.tuto article:hover i {
  color: #9356dc;
}
@media (min-width: 925px) {
  .tuto article {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
  }
}
.tuto article .number {
  position: absolute;
  left: -15px;
  display: inline;
  background-color: #9356dc;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
}
.tuto article p {
  font-weight: 500;
}
.tuto article i {
  color: grey;
  font-size: 25px;
  margin-left: 20px;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body {
  font-family: "Roboto", sans serif;
  margin: 0;
}

h1,
h2 {
  margin: 0;
  padding: 15px 0px;
}

p {
  font-weight: 300;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

button a {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

/* MAIN : SECTION - RESTAURANTS*/
.restaurant {
  padding: 15px 15px 0 15px;
  background-color: #f7f7f7;
  padding-bottom: 55px;
}
.restaurant__card {
  position: relative;
  display: grid;
  grid-template-areas: "resto1" "resto2" "resto3" "resto4";
  row-gap: 10px;
  grid-template-rows: 174px 1fr;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 11px 5px hsla(0deg, 1%, 26%, 0.13);
  z-index: auto;
}
.restaurant__card:hover i {
  transition: all 0.5s ease-in-out;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(176deg, rgb(255, 121, 218) 21%, rgb(147, 86, 220) 100%);
}
.restaurant__card .new {
  position: absolute;
  background-color: #99e2d0;
  padding: 5px 15px;
  top: 15px;
  right: 15px;
  z-index: 1;
  color: #299f82;
  font-weight: 500;
  font-size: 14px;
}
.restaurant__card img {
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 10px;
}
.restaurant__infos .heart {
  position: absolute;
  right: 20px;
  color: transparent;
  font-size: 25px;
}
.restaurant__infos i {
  font-size: 25px;
  padding-left: 2px;
}
.restaurant__name-city h2,
.restaurant p {
  margin: 0;
  padding: 0;
}
.restaurant__name-city h2 {
  font-size: 18px;
  padding-bottom: 5px;
}

.card-one {
  grid-area: resto1;
}

.card-two {
  grid-area: resto2;
}

.card-three {
  grid-area: resto3;
}

.card-four {
  grid-area: resto4;
}

@media (min-width: 481px) {
  .restaurant__wrapper {
    display: grid;
    grid-template-areas: "resto1 resto2" "resto3 resto4";
    gap: 30px;
    padding-top: 15px;
  }
}
.restaurant-banner img {
  height: 50vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
@media (max-width: 600px) {
  .restaurant-banner img {
    height: 25vh;
    -o-object-position: 50% 100%;
       object-position: 50% 100%;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  .restaurant-banner img {
    height: 30vh;
    -o-object-position: 50% 70%;
       object-position: 50% 70%;
  }
}

.restaurant-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 20px;
}

.restaurant-name i {
  font-size: 25px;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  to {
    transform: scale(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__price .composition, .menu__items, .menu__card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body {
  font-family: "Roboto", sans serif;
  margin: 0;
}

h1,
h2 {
  margin: 0;
  padding: 15px 0px;
}

p {
  font-weight: 300;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

button a {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  border-radius: 40px 40px;
  background-color: white;
  transform: translateY(-40px);
}
.menu .btn {
  margin: 20px 0 50px 0;
  padding: 15px 20px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.3px;
  border: 0;
  border-radius: 35px;
  background: linear-gradient(176deg, rgb(255, 121, 218) 21%, rgb(147, 86, 220) 100%);
  box-shadow: 0px 4px 5px 1px #cfcfcf;
  cursor: pointer;
  margin: 30px 0 0 0;
}
.menu .btn:hover {
  background: linear-gradient(176deg, rgba(252, 126, 218, 0.96) 0%, rgba(161, 102, 231, 0.96) 100%);
}
.menu .btn:hover {
  box-shadow: 0px 4px 3px 1px rgba(94, 90, 90, 0.5607843137);
  transition: all 0.4s ease-in-out;
}

.restaurant-name .heart {
  position: absolute;
  right: 40px;
  color: transparent;
  font-size: 25px;
}
.restaurant-name .heart:hover {
  cursor: pointer;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(176deg, rgb(255, 121, 218) 21%, rgb(147, 86, 220) 100%);
}

.menu__card {
  display: flex;
  height: 68px;
  margin: 20px 10px 0 10px;
  border: 0;
  border-radius: 14px;
  box-shadow: 1px 2px 16px 2px hsla(0deg, 1%, 26%, 0.13);
}
.menu__card h2 {
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
}
.menu__card:hover .check {
  margin-right: 0;
}
.menu__card:hover .checked {
  -webkit-animation: spin 0.6s ease-in-out both;
          animation: spin 0.6s ease-in-out both;
}

.animation-item {
  -webkit-animation: fadeInDown 1.2s ease-in-out 1s both;
          animation: fadeInDown 1.2s ease-in-out 1s both;
}
.animation-item:nth-child(1) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.animation-item:nth-child(2) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.animation-item:nth-child(3) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.animation-item:nth-child(4) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.animation-item:nth-child(5) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.animation-item:nth-child(6) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.animation-item:nth-child(7) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.animation-item:nth-child(8) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.animation-item:nth-child(9) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.animation-item:nth-child(10) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.animation-item:nth-child(11) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.animation-item:nth-child(12) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}

.menu__items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 15px;
}

.menu__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.menu__price .composition {
  margin-top: 0;
}
.menu__price .p--bold {
  font-weight: 700;
  margin-top: 0;
}

.check {
  flex-grow: 0;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin-right: -60px;
  transition: margin-right 0.6s;
}
.check .checked {
  color: white;
  font-size: 25px;
}