@import "utils/variables";
@import "utils/mixins";

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

p {
  font-weight: $thin;
  font-size: $regular_size;
}

/* HEADER */

header {
  height: 63px;
  @include flex;
}

.title__shrikhand {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

/* MAIN : SECTION - SEARCH */

.search {
  background-color: #eaeaea;
  height: 48px;
  @include flex--jcenter;
  box-shadow: 0px 10px 10px -6px #cfcfcf inset;
}

.search input[type="text"] {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 130px;
}

.search input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: $medium;
  font-size: $regular_size;
  color: black;
}

/* MAIN : SECTION - INTRO*/

.intro {
  @include flex--acenter;
  flex-direction: column;

  background-color: $lightgrey;
}

.intro h1,
h2 {
  text-align: center;
}

.btn {
  margin-top: 20px;
  margin-bottom: 55px;
  padding: 20px 50px;
  color: white;
  font-weight: $regular;
  font-size: $regular_size;
  border: none;
  border-radius: 35px;
  background: linear-gradient(
    170deg,
    rgba(255, 121, 218, 1) 21%,
    rgba(147, 86, 220, 1) 100%
  );
}

/* MAIN : SECTION - HOW-TO*/

.how-to {
  padding-top: 35px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  margin: 10px 15px 10px 15px;
}

.how-to article {
  @include flex;
  gap: 20px;
  padding: 10px;
  margin: 20px 10px 0 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 5px 12px 1px hsl(0deg 1% 26% / 13%);
}

.how-to p {
  font-weight: $medium;
}

/* MAIN : SECTION - MENU*/

.menu {
  padding: 35px 15px 0 15px;
  background-color: $lightgrey;
  padding-bottom: 55px;
}

.menu article {
  display: grid;
  grid-template-areas:
    "resto1"
    "resto2"
    "resto3"
    "resto4";
  row-gap: 10px;
  grid-template-rows: 174px 1fr;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 5px 12px 1px hsl(0deg 1% 26% / 13%);
}

.menu__article--1 {
  grid-area: resto1;
}

.menu__article--2 {
  grid-area: resto2;
}
.menu__article--3 {
  grid-area: resto3;
}
.menu__article--4 {
  grid-area: resto4;
}

.menu article img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.menu article h2,
h3 {
  margin: 0;
}

.menu article h2 {
  font-weight: $medium;
  padding-bottom: 5px;
}

.menu article i {
  font-size: 28px;
}

.menu-description {
  @include flex;
  @include justify(space-between);
  padding-left: 10px;
  padding-right: 20px;
}

/* FOOTER */

footer {
  background-color: #353535;
  padding-top: 15px;
  padding-bottom: 30px;
}

.title__shrikhand--footer {
  font-family: "Shrikhand", cursive;
  font-weight: $light;
  font-size: 20px;
  margin-left: 20px;
  color: white;
  letter-spacing: 1px;
}

footer ul {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

footer ul li {
  padding-bottom: 7px;
  letter-spacing: 0.5px;
  font-weight: $regular;
  font-size: 14px;
}

footer ul a {
  text-decoration: none;
  color: white;
}

footer ul i {
  margin-right: 10px;
}

/*SECOND PAGE MENU PAGE 1*/

.dish {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dish h1 {
  font-weight: $thin;
  font-size: 22px;
  margin-left: 18px;
  border-bottom: 2px solid #99e2d0;
  border-bottom-width: medium;
  width: 13%;
  padding-bottom: 5px;
}

.entree article,
.plats article,
.desserts article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
  margin: 20px 10px 0 10px;
  padding: 8px;
  border: none;
  border-radius: 14px;
  box-shadow: 1px 2px 16px 2px hsl(0deg 1% 26% / 13%);
}

.dish-choice {
  display: flex;
}

.dish-choice h2,
p {
  margin: 0;
  text-align: start;
}

.dish-info {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.dish-choice h2 {
  font-weight: $bold;
  font-size: 20px;
}

.p--bold {
  font-weight: $bold;
}

form {
  display: flex;
  justify-content: center;
}
