@import "utils/variables";
@import "utils/mixins";
@import "base/font";
@import "base/margins";
@import "composants/buttons";
@import "layout/header";
@import "layout/footer";
@import "pages/restaurants";

body {
  font-family: $roboto;
  margin: $none;
}

h1,
h2 {
  margin: $none;
  padding: 15px 0px;
}

p {
  font-weight: $light;
  font-size: $regular_size;
}

/* MAIN : SECTION - SEARCH */

.search {
  background-color: #eaeaea;
  height: 48px;
  @include flex;
  @include top-shadow;
}

.search input[type="text"] {
  background-color: transparent;
  border: none;
  @include center;
  width: 130px;
}

.search input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: $medium;
  font-size: $regular_size;
  color: black;
}

/* MAIN : SECTION - INTRO*/

.intro {
  background-color: $lightgrey;
  @include center;
  padding: 10px;
}

.btn {
  @include button;
}

/* MAIN : SECTION - EXPLANATION */

.explanation {
  margin: 15px;
  padding-top: 35px;
  padding-bottom: $last-pbottom;
}

.explanation article {
  @include flex;
  gap: 20px;
  padding: 25px 10px;
  margin: 25px;
  border: none;
  border-radius: 20px;
  @include article-shadow;
  background-color: #f7f7f7;
}

.explanation p {
  font-weight: $medium;
}

/* FOOTER */

/*SECOND PAGE MENU PAGE 1*/

.dish {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dish h1 {
  font-weight: $thin;
  font-size: 22px;
  margin-left: 18px;
  border-bottom: 2px solid #99e2d0;
  border-bottom-width: medium;
  width: 13%;
  padding-bottom: 5px;
}

.entree article,
.plats article,
.desserts article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
  margin: 20px 10px 0 10px;
  padding: 8px;
  border: none;
  border-radius: 14px;
  box-shadow: 1px 2px 16px 2px hsl(0deg 1% 26% / 13%);
}

.dish-choice {
  display: flex;
}

.dish-info {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.dish-choice h2 {
  font-weight: $bold;
  font-size: 20px;
}

.p--bold {
  font-weight: $bold;
}

form {
  display: flex;
  justify-content: center;
}
