@import "base/font";
@import "base/margins";
@import "layout/header";
@import "utils/variables";
@import "utils/mixins";
@import "composants/buttons";
@import "layout/footer";

body {
  font-family: $roboto;
  margin: $none;
}

h1,
h2 {
  margin: $none;
  padding: 15px 0px;
}

p {
  font-weight: $thin;
  font-size: $regular_size;
}

/* MAIN : SECTION - SEARCH */

.search {
  background-color: #eaeaea;
  height: 48px;
  @include flex;
  @include top-shadow;
}

.search input[type="text"] {
  background-color: transparent;
  border: none;
  @include center;
  width: 130px;
}

.search input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: $medium;
  font-size: $regular_size;
  color: black;
}

/* MAIN : SECTION - INTRO*/

.intro {
  background-color: $lightgrey;
  @include center;
  padding: 10px;
}

.btn {
  @include button;
}

/* MAIN : SECTION - HOW-TO*/

.how-to {
  padding-top: 35px;
  padding-bottom: $last-pbottom;
  display: flex;
  flex-direction: column;
  margin: 10px 15px 10px 15px;
}

.how-to article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 5px 0px 5px 30px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 11px 5px hsl(0deg 1% 26% / 13%);
  background-color: #f7f7f7;
}

.how-to p {
  font-weight: $medium;
}

/* MAIN : SECTION - MENU*/

.menu {
  padding: 35px 15px 0 15px;
  background-color: $lightgrey;
  padding-bottom: $last-pbottom;
}

.menu article {
  display: grid;
  grid-template-areas:
    "resto1"
    "resto2"
    "resto3"
    "resto4";
  row-gap: 10px;
  grid-template-rows: 174px 1fr;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 5px 12px 1px hsl(0deg 1% 26% / 13%);
}

.menu__article--1 {
  grid-area: resto1;
}

.menu__article--2 {
  grid-area: resto2;
}
.menu__article--3 {
  grid-area: resto3;
}
.menu__article--4 {
  grid-area: resto4;
}

.menu article img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.menu article h2,
h3 {
  margin: $none;
}

.menu article h2 {
  font-weight: $medium;
  padding-bottom: 5px;
}

.menu article i {
  font-size: 28px;
}

.menu-description {
  padding-left: 10px;
  padding-right: 20px;
}

/* FOOTER */

/*SECOND PAGE MENU PAGE 1*/

.dish {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dish h1 {
  font-weight: $thin;
  font-size: 22px;
  margin-left: 18px;
  border-bottom: 2px solid #99e2d0;
  border-bottom-width: medium;
  width: 13%;
  padding-bottom: 5px;
}

.entree article,
.plats article,
.desserts article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
  margin: 20px 10px 0 10px;
  padding: 8px;
  border: none;
  border-radius: 14px;
  box-shadow: 1px 2px 16px 2px hsl(0deg 1% 26% / 13%);
}

.dish-choice {
  display: flex;
}

.dish-info {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.dish-choice h2 {
  font-weight: $bold;
  font-size: 20px;
}

.p--bold {
  font-weight: $bold;
}

form {
  display: flex;
  justify-content: center;
}
