@import "utils/variables";
@import "utils/mixins";
@import "base/font";
@import "base/margins";
@import "composants/search";
@import "composants/buttons";
@import "layout/header";
@import "layout/footer";
@import "layout/menu-title";
@import "layout/media_queries.scss";
@import "pages/introduction";
@import "pages/explanation";
@import "pages/restaurants";
@import "pages/restaurant-menu";
@import "pages/dishes";

body {
  font-family: $roboto;
  margin: $none;
}

h1,
h2 {
  margin: $none;
  padding: 15px 0px;
}

p {
  font-weight: $light;
  font-size: $regular_size;
}

a {
  text-decoration: none;
  color: black;
}

/*SECOND PAGE MENU PAGE 1*/

form {
  display: flex;
  justify-content: center;
}
