@import "../utils/_mixins";
@import "./header";
@import "../utils/variables";

footer {
  background-color: $bg-footer;
  padding-top: 15px;
  padding-bottom: 30px;
}

footer ul {
  list-style: none;
  padding-left: 20px;
  margin: $none;
}

footer ul li {
  padding-bottom: $pm-sm;
  letter-spacing: $space_foot;
  font-weight: $regular;
  font-size: $regular;
}

footer ul a {
  text-decoration: none;
  color: $bg-secondary;
}

footer ul i {
  margin-right: 10px;
}
