@import "../utils/_mixins";
@import "../utils/variables";

.header {
  height: 63px;
  @include flex;
}

.logo {
  font-family: "Shrikhand", cursive;
  margin: 0;

  &--footer {
    font-family: "Shrikhand", cursive;
    font-weight: $light;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    letter-spacing: 1px;
  }
}
