@import "../utils/_mixins";
@import "../utils/variables";


.header {
  height: 63px;
  @include flex;
  position: relative;

  .arrow {
    position: absolute;
    left: 20px;
    font-size: $icon;
  }
}

.logo {
  font-family: "Shrikhand", cursive;
  margin: $none;
  padding: $none;

  &--footer {
    font-family: "Shrikhand", cursive;
    font-weight: $light;
    font-size: $icon;
    margin-left: 20px;
    color: $bg-secondary;
    letter-spacing: $space-head;
  }

  &--restaurant {
    font-family: "Shrikhand", cursive;
    margin-top: 10px;
    font-size: $restaurant-name;
    font-weight: $medium;
    padding-bottom: $none;
  }
}
