@import "../utils/_mixins";
@import "../utils/variables";
@import "../layout/media_queries.scss";

.header {
  height: 63px;
  @include flex;
}

.header i {
  position: relative;
  left: -100px;
  font-size: 20px;
}

.logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 0;

  &--footer {
    font-family: "Shrikhand", cursive;
    font-weight: $light;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    letter-spacing: 1px;
  }

  &--restaurant {
    font-family: "Shrikhand", cursive;
    margin-top: 10px;
    font-size: 26px;
    font-weight: $medium;
    padding-bottom: 0;
  }
}


