@import "../utils/variables";

.title {
  font-weight: $thin;
  margin-left: 18px;
  border-bottom: 2px solid $primary-color;
  border-bottom-width: medium;
  width: 45px;
  padding-bottom: $pm-sm;
  padding-top: 0;
}
