@import "../utils/variables";

.course {
  font-weight: $thin;
  margin-left: 18px;
  border-bottom: 2px solid #99e2d0;
  border-bottom-width: medium;
  width: 13%;
  padding-bottom: 5px;
  padding-top: 0;
}
