@import "../utils/variables";

.dishes h1 {
  font-weight: $thin;
  font-size: 22px;
  margin-left: 18px;
  border-bottom: 2px solid #99e2d0;
  border-bottom-width: medium;
  width: 13%;
  padding-bottom: 5px;
}
