@import "../utils/mixins";
@import "../utils/variables";
@import "../base/margins";

@mixin btn-backgroung {
  background: linear-gradient(
    176deg,
    rgb(255, 121, 218) 21%,
    rgb(147, 86, 220) 100%
  );

  &:hover {
    background: linear-gradient(
      176deg,
      rgba(252, 126, 218, 0.96) 0%,
      rgba(161, 102, 231, 0.96) 100%
    );
  }
}

@mixin button {
  margin: 20px 0 50px 0;
  padding: 15px 20px;
  color: white;
  font-weight: $medium;
  font-size: $regular_size;
  letter-spacing: 0.3px;
  border: $none;
  border-radius: 35px;
  @include btn-backgroung();
  @include bottom-shadow;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 3px 1px #5e5a5a8f;
    transition: all 0.4s ease-in-out linear;
  }
}
