@import "../utils/variables";
@import "../utils/mixins";

.search {
  background-color: $bg-input;
  height: 48px;
  @include flex(center);
  @include top-shadow;
}

.search input[type="text"] {
  background-color: $no-color;
  border: none;
  @include center;
  width: 130px;
}

.search input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: $medium;
  font-size: $regular-size;
  color: $a-color;
}

.search input:focus {
  outline: none;
}
