@import "../utils/variables";
@import "../utils/mixins";

.search {
  background-color: #eaeaea;
  height: 48px;
  @include flex;
  @include top-shadow;
}

.search input[type="text"] {
  background-color: transparent;
  border: none;
  @include center;
  width: 130px;
}

.search input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: $medium;
  font-size: $regular_size;
  color: black;
}

.search input:focus {
  outline: none;
}
