@import "../utils/variables";
@import "../utils/mixins";
@import "../base/font";

body {
  font-family: $roboto;
  margin: $none;
}

h1,
h2 {
  margin: $none;
  padding: 15px 0px;
}

p {
  font-weight: $light;
  font-size: $regular;
}

a {
  text-decoration: none;
  color: $a-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 10px;
}
