@import "../utils/variables";
@import "../utils/mixins";
@import "../base/font";
@import "../base/margins";


body {
  font-family: $roboto;
  margin: $none;
}

h1,
h2 {
  margin: $none;
  @include pside(15px 0px);
}

p {
  font-weight: $light;
  font-size: $regular_size;
}

a {
  text-decoration: none;
  color: $a-color;
}


