@import "../utils/variables";

.restaurant-dish {
  display: flex;
  flex-direction: column;
  gap: 30px;
  animation: Slidedown 1s ease-in;
}

.dish-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
  margin: 20px 10px 0 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 14px;
  box-shadow: 1px 2px 16px 2px hsl(0deg 1% 26% / 13%);
}

.dish-choice h2 {
  padding: $none;
  font-weight: $bold;
  font-size: 18px;
}

.p--bold {
  font-weight: $bold;
}

.dish-info {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

@keyframes Slidedown {
  from {
    margin-top: -15%;
    width: 100%;
    opacity: 0;
  }

  to {
    margin-top: 0%;
    width: 100%;
    opacity: 1;
  }
}
