@import "../utils/variables";
@import "../utils/mixins";

.explanation {
  margin: 15px;
  padding-top: 15px;
  padding-bottom: $last-pbottom;

  @media (min-width: 481px) {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.choices {
  display: grid;
  grid-template-rows: 1fr;

  @media (min-width: 481px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.explanation article {
  position: relative;
  @include flex;
  padding: 25px 10px;
  gap: 25px;
  margin: 20px;
  border: none;
  border-radius: 20px;
  @include article-shadow;
  background-color: #f7f7f7;

  &:hover {
    background-color: rgb(255, 121, 218, 0.1);
  }
}

.explanation p {
  font-weight: $medium;
}

.explanation i {
  color: grey;
  font-size: 20px;

  &:hover {
    color: #9356dc;
  }
}

.number {
  position: absolute;
  left: -15px;
  display: inline;
  background-color: #9356dc;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
}
