@import "../utils/variables";
@import "../utils/mixins";

.explanation {
  margin: 15px;
  padding-top: 15px;
  padding-bottom: $last-pbottom;

  @media (min-width: 481px) {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.choices {
  @media (min-width: 481px) {
    display: flex;
    gap: 20px;
    padding: 10px ;
    margin: 10px;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.explanation article {
  @include flex;
  gap: 25px;
  padding: 25px 10px;
  margin: 20px;
  border: none;
  border-radius: 20px;
  @include article-shadow;
  background-color: #f7f7f7;

  @media (min-width: 481px) {
    gap: 15px;
  }
}

.explanation p {
  font-weight: $medium;
}

.explanation i {
  color: grey;
  font-size: 20px;
}
