@import "../utils/variables";
@import "../utils/mixins";

.explanation {
  margin: 15px;
  padding-top: 35px;
  padding-bottom: $last-pbottom;
}

.explanation article {
  @include flex;
  gap: 25px;
  padding: 25px 10px;
  margin: 20px;
  border: none;
  border-radius: 20px;
  @include article-shadow;
  background-color: #f7f7f7;
}

.explanation p {
  font-weight: $medium;
}

.explanation i {
  color: grey;
  font-size: 20px;
}
