@import "../utils/variables";
@import "../utils/mixins";

.tuto {
  @include margin($t: 15px, $r: 15px, $b: 15px, $l: 15px);
  @include padding($t: 15px, $b: 55px);

  @media (min-width: 481px) {
    @include margin($b: 0);
    @include padding($t: 5px, $b: 5px);
  }

  &__choices {
    display: grid;
    grid-template-rows: 1fr;

    @media (min-width: 925px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  article {
    position: relative;
    @include flex;
    @include pside($tb: 10px, $lr: 10px);
    gap: 25px;
    @include mside(20px, 20px);
    border: none;
    border-radius: 20px;
    @include article-shadow;
    background-color: $bg-primary;

    &:hover {
      background-color: rgb(255, 121, 218, 0.1);

      i {
        color: $tertiary-color;
      }
    }

    @media (min-width: 925px) {
      display: grid;
      grid-template-columns: 30px 1fr;
      align-items: center;
    }

    .number {
      position: absolute;
      left: -15px;
      display: inline;
      background-color: $tertiary-color;
      color: $bg-secondary;
      @include pside($tb: 5px, $lr: 10px);
      border-radius: 50%;
    }

    p {
      font-weight: $medium;
    }

    i {
      color: $primary-icon-color;
      font-size: 20px;
      @include margin($l: 20px);
    }
  }
}
