@import "../utils/variables";
@import "../utils/mixins";
@import "../base/elements";

/* MAIN : SECTION - RESTAURANTS*/

.restaurant {
  padding: 15px 15px 0 15px;
  background-color: $bg-primary;
  padding-bottom: $last-pbottom;

  &__card {
    position: relative;
    display: grid;
    grid-template-areas:
      "resto1"
      "resto2"
      "resto3"
      "resto4";
    row-gap: 10px;
    grid-template-rows: 174px 1fr;
    border-radius: $radius-m;

    @include margin($b: 20px);
    @include article-shadow;
    z-index: auto;

    .new {
      position: absolute;
      background-color: $primary-color;
      padding: 5px 15px;
      top: 15px;
      right: 15px;
      z-index: 1;
      color: $new-text-color;
      font-weight: $medium;
      font-size: $tag;
    }

    img {
      height: 174px;
      width: 100%;
      object-fit: cover;
      border-radius: $radius-m $radius-m $none $none;
    }
  }

  &__infos {
    @include flex(space-between);
    @include padding($r: 20px, $l: 10px);

    i {
      font-size: $icon;
      transition: all 0.4s ease-out;

      &:hover {
        color: $no-color;
        background-clip: text;
        background-image: linear-gradient(
          176deg,
          rgb(255, 121, 218) 21%,
          rgb(147, 86, 220) 100%
        );
      }
    }
  }

  &__name-city h2,
  p {
    margin: $none;
    padding: $none;
  }
  &__name-city h2 {
    font-size: $title;
    padding-bottom: $pm-sm;
  }
}

.card-one {
  grid-area: resto1;
}
.card-two {
  grid-area: resto2;
}
.card-three {
  grid-area: resto3;
}
.card-four {
  grid-area: resto4;
}

@media (min-width: 481px) {
  .restaurant__wrapper {
    display: grid;
    grid-template-areas:
      "resto1 resto2"
      "resto3 resto4";
    gap: 30px;
    padding-top: 15px;
  }
}
