@import "../utils/variables";
@import "../utils/mixins";

.tuto {
  margin: 15px;
  padding-bottom: 30px;

  @media (min-width: 481px) {
    @include margin($b: 0);
  }

  &__choices {
    display: grid;
    grid-template-rows: 1fr;

    @media (min-width: 925px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  article {
    position: relative;
    @include flex;
    padding: 10px;
    margin: 20px;
    gap: 25px;
    border: none;
    border-radius: $radius-m;
    @include article-shadow;
    background-color: $bg-primary;

    &:hover {
      background-color: $bg-tuto;

      i {
        color: $tertiary-color;
      }
    }

    @media (min-width: 925px) {
      display: grid;
      grid-template-columns: 30px 1fr;
      align-items: center;
    }

    .number {
      position: absolute;
      left: -15px;
      display: inline;
      background-color: $tertiary-color;
      color: $bg-secondary;
      padding: 5px 10px;
      border-radius: $round;
    }

    p {
      font-weight: $medium;
    }

    i {
      color: $primary-icon-color;
      font-size: $icon;
      @include margin($l: 20px);
    }
  }
}
