@import "../utils/variables";
@import "../utils/mixins";
@import "../composants/buttons";

.intro {
  background-color: $lightgrey;
  @include center;
  padding: 10px;
  padding-bottom: 55px;
}

.btn {
  @include button;
}
