@import "../utils/variables";
@import "../utils/animation";
@import "../utils/mixins";
@import "../composants/buttons";
@import "../composants/form";
@import "../base/elements";

.menu {
  @include flex-col;
  border-radius: $radius-l $radius-l;
  background-color: $bg-secondary;
  transform: translateY(-40px);

  .btn {
    @include button;
    margin: 30px 0 0 0;
  }
}

.menu__card {
  display: flex;
  height: 68px;
  margin: 20px 10px 0 10px;
  @extend %overflow;
  border: $none;
  border-radius: $radius-sm;
  box-shadow: 1px 2px 16px 2px hsl(0deg 1% 26% / 13%);

  h2 {
    padding: $none;
    font-weight: $bold;
    font-size: $title;
    @include margin(0);
  }

  &:hover {
    .check {
      @include margin($r: 0);
    }

    .checked {
      animation: spin 0.6s ease-in-out both;
    }
  }
}

.animation-item {
  animation: fadeInDown 1.2s ease-in-out 1s both;

  @for $x from 1 through 12 {
    &:nth-child(#{$x}) {
      animation-delay: 100ms * ($x - 1);
    }
  }
}

.menu__items {
  @include flex-col;
  flex-grow: 1;
  padding: 10px 15px;
  @extend %overflow;
}

.menu__price {
  @include flex($justify: space-between);
  display: flex;
  justify-content: space-between;
  padding-top: 5px;

  .composition {
    @extend %overflow;
    @include margin(0);
  }

  .p--bold {
    font-weight: $bold;
    @include margin(0);
  }
}

.check {
  flex-grow: 0;
  background-color: $primary-color;
  @include flex;
  width: 60px;
  @include margin($r: -60px);
  transition: margin-right 0.6s;

  .checked {
    color: $bg-secondary;
    font-size: $icon;
  }
}
