@import "../utils/variables";
@import "../utils/animation";
@import "../utils/mixins";

.menu {
  @include flex-col;
  gap: 30px;
  border-radius: 40px 40px;
  background-color: $bg-secondary;
  transform: translateY(-40px);
}

.menu__card {
  display: flex;
  height: 68px;
  @include margin(20px, 10px, 0, 10px);
  @extend %overflow;
  border: none;
  border-radius: 14px;
  box-shadow: 1px 2px 16px 2px hsl(0deg 1% 26% / 13%);

  h2 {
    padding: $none;
    font-weight: $bold;
    font-size: 18px;
    @include margin(0);
  }

  &:hover {
    .check {
      @include margin($r: 0);
    }

    .checked {
      animation: spin 0.6s ease-in-out both;
    }
  }
}

.animation {
  animation: fadeInDown 1s ease-in-out calc(var(--animation-order) * 100ms) both;
}

.menu__items {
  @include flex-col;
  flex-grow: 1;
  @include pside(10px, 15px);
  @extend %overflow;
}

.menu__price {
  @include flex($justify: space-between);
  display: flex;
  justify-content: space-between;
  @include padding(5px);

  .composition {
    @extend %overflow;
    @include margin(0);
  }

  .p--bold {
    font-weight: $bold;
    @include margin(0);
  }
}

.check {
  flex-grow: 0;
  background-color: $primary-color;
  @include flex;
  width: 60px;
  @include margin($r: -60px);
  transition: margin-right 0.6s;

  .checked {
    color: $bg-secondary;
    font-size: 30px;
  }
}
