@import "../utils/variables";
@import "../utils/animation";
@import "../utils/mixins";

.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 40px 40px;
  background-color: white;
  transform: translateY(-40px);
}

.menu__card {
  display: flex;
  height: 68px;
  margin: 20px 10px 0 10px;
  overflow: hidden;
  white-space: nowrap;
  border: none;
  border-radius: 14px;
  box-shadow: 1px 2px 16px 2px hsl(0deg 1% 26% / 13%);

  h2 {
    padding: $none;
    font-weight: $bold;
    font-size: 18px;
    margin-top: 0;
  }

  &:hover {
    .check {
      margin-right: 0;
    }

    .checked {
      animation: spin 0.6s ease-in-out both;
    }
  }
}

.menu__items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.animation {
  animation: fadeInDown 1s ease-in-out calc(var(--animation-order) * 100ms) both;
}

.p--bold {
  font-weight: $bold;
  margin-top: 0;
}

.menu__price {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.composition {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 0;
}

.check {
  flex-grow: 0;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  margin-right: -60px;
  transition: margin-right 0.6s;
}

.checked {
  color: white;
  font-size: 30px;
}
