@import "../utils/variables";
@import "../utils/animation";
@import "../utils/mixins";

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: $bg-secondary;
  z-index: 2;
  opacity: 0.9;
  animation: fade-out 1s ease-out 1s forwards;
  @include flex;

  .dot {
    height: 30px;
    width: 30px;
    border-radius: $round;
    background-color: $primary-color;
    @include margin($r: 40px);
    animation: bounce 0.4s linear infinite alternate;
  }

  .dot:nth-child(2) {
    background-color: $secondary-color;
    animation-delay: 0.2s;
  }

  .dot:nth-child(3) {
    background-color: $tertiary-color;
    animation-delay: 0.3s;
  }
}
