@import "../utils/variables";
@import "../utils/mixins";

/* MAIN : SECTION - RESTAURANTS*/

.restaurants {
  padding: 35px 15px 0 15px;
  background-color: $lightgrey;
  padding-bottom: $last-pbottom;

}

.restaurant-wrapper{
  @media (min-width: 481px) {
    display: flex;
    gap: 20px;
    padding-top: 35px;
  }
}

.restaurant {
  display: grid;
  grid-template-areas:
    "resto1"
    "resto2"
    "resto3"
    "resto4";
  row-gap: 10px;
  grid-template-rows: 174px 1fr;
  border-radius: 20px;
  margin-bottom: 20px;
  @include article-shadow;
}

.restaurant-one {
  grid-area: resto1;
}

.restaurant-two {
  grid-area: resto2;
}
.restaurant-three {
  grid-area: resto3;
}
.restaurant-four {
  grid-area: resto4;
}

.restaurant img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.restaurant h2,
p {
  margin: $none;
  padding: $none;
}

.restaurant-presentation {
  @include flex(space-between);
  padding-left: 10px;
  padding-right: 20px;
}

.restaurant-presentation h2 {
  font-size: 18px;
  padding-bottom: 5px;
}

.restaurant i {
  font-size: 28px;
}
