.restaurant-banner img {
  height: 50vh;
  width: 100vw;
  object-fit: cover;
  object-position: 50% 60%;

  @media (max-width: 600px) {
    height: 20vh;
    object-position: 50% 70%;
  }

  @media (min-width: 601px) and (max-width: 800px) {
    height: 30vh;
    object-position: 50% 70%;
  }
}

.restaurant-name {
  @include flex(space-between);
  padding: 0px 40px 0px 20px;
}

.restaurant-name i {
  font-size: $icon;
}
