// Ok pour la note enchantée

.restaurant-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.restaurant-name {
  @include flex(space-between);
  padding: 0px 40px 0px 20px;
 
}

.restaurant-name i {
  font-size: 25px;
}
