.restaurant-banner img {
  height: 35vh;
  width: 100vw;
  object-fit: cover;
  object-position: 50% 60%;

  @media (max-width: 700px) {
    object-position: 50% 75%;
  }
}

.restaurant-name {
  @include flex(space-between);
  padding: 0px 40px 0px 20px;
}

.restaurant-name i {
  font-size: $icon;
}

.heart {
  @include heart;
  right: 40px;
  cursor: pointer;
}
