.restaurant-pic img {
  height: 50vh;
  width: 100vw;
  object-fit: cover;
 
  @media (min-width:500px) {
    object-position: 50% 62%;
  }
 
}

.restaurant-name {
  @include flex(space-between);
  padding: 0px 40px 0px 20px;
}

.restaurant-name i {
  font-size: 25px;
}
