@mixin top-shadow {
  box-shadow: 0px 10px 3px -7px #cfcfcf inset;
}

@mixin bottom-shadow {
  box-shadow: 0px 4px 5px 1px #cfcfcf;
}

@mixin article-shadow {
  box-shadow: 0px 0px 11px 5px hsl(0deg 1% 26% / 13%);
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin center {
  text-align: center;
}
