@mixin padding($t: null, $r: null, $b: null, $l: null) {
  padding-top: $t;
  padding-right: $r;
  padding-bottom: $b;
  padding-left: $l;
}

@mixin margin($t: null, $r: null, $b: null, $l: null) {
  margin-top: $t;
  margin-right: $r;
  margin-bottom: $b;
  margin-left: $l;
}

@mixin top-shadow {
  box-shadow: 0px 10px 3px -7px #cfcfcf inset;
}

@mixin bottom-shadow {
  box-shadow: 0px 4px 5px 1px #cfcfcf;
}

@mixin article-shadow {
  box-shadow: 0px 0px 11px 5px hsl(0deg 1% 26% / 13%);
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin center {
  text-align: center;
}
