$bg-primary: #f7f7f7;
$bg-secondary: white;
$bg-input: #eaeaea;
$bg-footer: #353535;
$no-color: transparent;
$primary-color: #99e2d0;
$secondary-color: #ff79da;
$tertiary-color: #9356dc;

$new-text-color: #299f82;
$a-color: black;

$primary-icon-color: grey;


$heart-color: linear-gradient(
  176deg,
  rgb(255, 121, 218) 21%,
  rgb(147, 86, 220) 100%
);

$bg-tuto:rgb(255, 121, 218, 0.1); 

// FONT-WEIGHT
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// FONT-SIZE
$regular: 16px;
$icon: 25px;
$restaurant-name: 26px;
$tag: 14px;
$title:18px;

//LETTER-SPACING
$space-btn:0.3px;
$space_foot:0.5px;
$space-head:1px;

//BORDER-RADIUS
$radius-sm: 14px;
$radius-m: 20px;
$radius-l: 40px;
$radius-btn: 35px;
$round: 50%;

// PADDING & MARGIN
$pm-sm:5px;
$last-pbottom: 55px;

//ALL
$none: 0;

%overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
