$lightgrey: #f7f7f7;
$thin: 100;
$regular: 400;
$bold: 700;
$medium: 500;
$light: 300;

$regular_size: 16px;

$last-pbottom: 55px;

$heart-color: linear-gradient(
  176deg,
  rgb(255, 121, 218) 21%,
  rgb(147, 86, 220) 100%
);
